@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Connection lost. <a href="" class="reload">Reload</a>
    <a class="dismiss">&#x2715;</a>
</div>
